<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035544703701-t0a6hu24oh5iaaa569g2mrh4vjigj95c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035544703701-t0a6hu24oh5iaaa569g2mrh4vjigj95c</string>
	<key>API_KEY</key>
	<string>AIzaSyCxorPkMot26JoGFr1qFjp-j09NrY9Jc1k</string>
	<key>GCM_SENDER_ID</key>
	<string>1035544703701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IremOnart.Cryptopia</string>
	<key>PROJECT_ID</key>
	<string>cryptopia-b308b</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptopia-b308b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035544703701:ios:a481cfab4c76a801bfa85c</string>
</dict>
</plist>